{
    order authenticate before respond
    order authorize before respond
    security {
        local identity store localdb {
            realm local
            path /data/.local/caddy/users.json
        }
        authentication portal myportal {
            crypto default token lifetime 86400
            enable identity store localdb
            cookie domain {$DOMAIN_NAME}
            ui {
                links {
                    "Моя панель" "/" icon "las la-tachometer-alt"
                    "Профиль" "/r/whoami" icon "las la-user"
                    "Настройки" "/r/settings" icon "las la-cog"
                }
            }
            transform user {
                match origin local
                action add role authp/admin
                # require mfa
            }
        }
        authorization policy mypolicy {
            set auth url /r
            allow roles authp/admin with api key
            acl rule {
                match role authp/admin
                allow stop log info
            }
            acl rule {
                match any
                deny stop log warn
            }
        }
    }
}

https://{$DOMAIN_NAME} {
    route /api/* {
        authorize with mypolicy
        reverse_proxy fastapi_app:8000
    }

    handle /r {
        rewrite * /auth
        request_header +X-Forwarded-Prefix /r
        authenticate with myportal
    }

    route /r* {
        authenticate with myportal
    }

    route /* {
        authorize with mypolicy
        reverse_proxy fastapi_app:8000
    }
}